.section {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imgBgA {
  background-image: url('https://res.cloudinary.com/dzajrh9z7/image/upload/v1706941049/Bendonalds/Art2_copy_1070x334_eteaes.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.imgBgB {
  background-image: url('https://res.cloudinary.com/dzajrh9z7/image/upload/v1706941057/Bendonalds/sport3_copy_1114x615_fe4z6s.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.imgBgC {
  background-image: url('https://res.cloudinary.com/dzajrh9z7/image/upload/v1706941054/Bendonalds/parenting-178380-elementaryconference-es-main1-200608_ocjld1.webp');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.imgBgD {
  background-image: url('https://res.cloudinary.com/dzajrh9z7/image/upload/v1706941055/Bendonalds/LiteracyWeek_copy_725x330_qjp2w4.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.imgBgE {
  background-image: url('https://res.cloudinary.com/dzajrh9z7/image/upload/v1706941050/Bendonalds/Culture_qnm0na.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.newsTxt {
  position: absolute;
  bottom: 100px;
  left: 50px;
  text-transform: uppercase;
  color: #fff;
  padding: 10px;
}
.section h1 {
  text-shadow: 1px 2px 3px#fff;
  color: #161643;
  font-size: 60px;
  font-weight: bold;
}
.section p {
  color: #161643;
  font-size: 30px;
  font-weight: bold;
}
@media (max-width: 600px) {
  .section {
    padding: 0;
  }
  .section h1 {
    font-size: 30px;
  }
}
