@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Nunito+Sans:ital,wght@0,300;0,600;0,800;1,300;1,600;1,800&family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

@media (min-width: 1024px) {
  * {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
  }
}
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}
