*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.stopScrolling {
  overflow: hidden;
}
/* body {
  background: repeating-linear-gradient(
    -45deg,
    #fff,
    #fff 5px,
    #fff 5px,
    #465298 1500px
  );
} */
