.heroSection {
  position: relative;
  margin-left: 0 !important;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  text-align: center;
}
.background_image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  filter: blur(5px);
}
.heroContent {
  position: absolute;
  top: 0;
  height: 100%;
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  font-size: 1.5rem;
}

.heroContent .hero_heading {
  font-size: 1.5em;
  font-weight: 700;
}
.heroContent .hero_text {
  font-size: 1em;
  font-weight: 500;
}

.heroContent a {
  display: inline-block;
  width: 250px;
  height: 50px;
  border-radius: 15px;
  text-align: cente;
  background: rgb(1, 65, 111);
  color: hsl(0, 0%, 100%);
  font-size: 0.8em;
  font-weight: 600;
  text-decoration: none;
  padding: 10px 0;
}

.heroContent a:hover {
  background-color: #9fd8ed;
  color: hsl(220, 70%, 17%);
}

@media (min-width: 800px) {
  .background_image {
    height: 500px;
  }
  .heroContent .hero_heading {
    font-size: 3em;
  }
  .heroContent .hero_text {
    font-size: 2em;
  }
}
