
.footer {
    background-color: #161643;
  position: relative;
  bottom: 0;
  left: 0;
  padding: 55px 0;
  border-top: 1px solid #aaa;
}
.footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}

.footer ul li {
  margin-right: 30px;
  color: #aaa;
  text-transform: uppercase;
}
.footer ul li .footerLink {
  text-decoration: none;
  color: #fff;
  transition: color 0.6s;
}
.footer ul li .footerLink:hover {
  color: #aaa;
}
@media(max-width: 960px) {

}
@media(max-width: 600px) {
.footer ul li:first-child{
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.footer ul li{
  margin-bottom: 10px;
}
}