.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
  overflow: hidden;
}
/* Header/navbar */
.mainHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  align-items: center;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  background-color: #161643;
  color: #fff;
  text-transform: uppercase;
  padding: 0 20px;
}
/* logo */
.logo {
  padding: 10px;
  width: 70px;
  height: 70px;
}
.img {
  
  background-image: url('../components/img/logo.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 20;
  width: 100%;
  height: 100%;
}
.destopMainMenu {
  margin-right: 30px;
}
.destopMainMenu ul {
  display: flex;
  list-style: none;
}
.destopMainMenu ul li {
  position: relative;
  margin-right: 20px;
  padding-bottom: 2px;
}
.destopMainMenu ul li .navLink {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}
.destopMainMenu ul li .navLink::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transform-origin: right center;
}
.destopMainMenu ul li .navLink:hover::after {
  transform: scaleX(1);
  transform-origin: left center;
  transition-duration: 0.4s;
}
.hambuger {
  display: none;
  position: fixed;
  top: 40px;
  right: 20px;
  cursor: pointer;
  z-index: 10;
  width: 20px;
  height: 20px;
  background: none;
  border: none;
}
.hambugerTop,
.hambugerMiddle,
.hambugerButtom {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: #fff;
  transition: all 0.5s;
}
.hambugerMiddle {
  transform: translateY(5px);
}
.hambugerButtom {
  transform: translateY(10px);
}
.open {
  transform: rotate(90deg);
}
.open .hambugerTop {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}
.open .hambugerMiddle {
  display: none;
}
.open .hambugerButtom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}
.mobileMainMenu {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  z-index: 5;
  background-color: #161643;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(100%);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
.showMenu {
  transform: translateX(0);
}
.mobileMainMenu ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 50px;
  width: 100%;
  list-style: none;
  color: #fff;
}
.mobileMainMenu ul li {
  margin-bottom: 20px;
  font-size: 18px;
  text-transform: uppercase;
  border-bottom: 1px #fff dotted;
  width: 100%;
  text-align: right;
  padding-bottom: 5px;
}
.mobileMainMenu ul li .navLink {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  transition: color 0.6s;
}
.mobileMainMenu ul li .navLink:hover {
  color: #aaa;
}
@media(max-width: 600px) {
    .destopMainMenu{
        display: none;
    }
    .hambuger{
        display: block;
    }
}
