@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Nunito+Sans:ital,wght@0,300;0,600;0,800;1,300;1,600;1,800&family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

@media (min-width: 1024px) {
  .navbar-custom {
    padding: 20px 8em !important;
  }
  .navbar-brand-custom {
    font-size: 2.5em !important;
  }
  .navbar-nav-custom li.nav-item-custom {
    font-size: 1.5em;
    margin-right: 20px;
    font-weight: 600;
  }

  .nav-link-custom.active,
  .nav-link-custom:hover {
    color: hsl(33, 93%, 54%) !important;
  }

  .nav-link-custom,
  .nav-link-custom.active:hover {
    color: #fff !important;
  }
}

/* normal styles */
.navbar-custom {
  padding: 0 10px !important;
  background: hsl(205, 98%, 22%);
  box-shadow: 0 3px 5px rgba(20, 20, 20, 0.5);
  height: 100px;
  font-family: "Open Sans" sans-serif !important;
}
.navbar-brand-custom {
  font-size: 2em;
  word-spacing: 1.5px !important;
  font-weight: 700 !important;
  text-decoration: none;
  color: #fff !important;
}
