.highlight {
  margin: 25px 0;
}
.heading {
  text-align: center;
}
.card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.card_body {
  height: 160px;
  margin: 5px 10px;
  background-color: hsl(220, 70%, 17%);
  background-color: rgb(1, 65, 111);
  box-shadow: 0 3px 5px rgba(255, 255, 255, 0.5);
  padding: 10px 20px;
  color: #fff;
  border-radius: 20px;
}
.card_title,
.card_text {
  text-align: center;
}

@media (min-width: 800px) {
  .card {
    flex-direction: row;
    justify-content: center;
  }
  .card_body {
    width: 400px;
  }
}
